[Desktop Entry]
Type=Application
Name=GNOME Software
Exec=/usr/bin/gnome-software --gapplication-service
OnlyShowIn=GNOME;Pantheon;Unity;
NotShowIn=Budgie
NoDisplay=true
