[Desktop Entry]
Name=Advanced Firewall Configuration
Comment=Configure Firewall daemon
Icon=network-firewall
Exec=firewall-config
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
NotShowIn=GNOME;
