[submodule "lib/elementary.default-settings"]
	path = lib/elementary.default-settings
	url = https://github.com/elementary/default-settings
	branch = master
[submodule "lfs"]
	path = lfs
	url = https://git.zio.sh/sodaliterocks/lfs
[submodule "lib/elementary.icons"]
	path = lib/elementary.icons
	url = https://github.com/elementary/icons
[submodule "lib/sodaliterocks.hacks"]
	path = lib/sodaliterocks.hacks
	url = https://github.com/sodaliterocks/hacks
[submodule "lib/workstation-ostree-config_f38"]
	path = lib/workstation-ostree-config_f38
	url = https://pagure.io/workstation-ostree-config
[submodule "lib/sodaliterocks.firefox"]
	path = lib/sodaliterocks.firefox
	url = https://github.com/sodaliterocks/firefox
[submodule "lib/workstation-ostree-config"]
	path = lib/workstation-ostree-config
	url = https://pagure.io/workstation-ostree-config
[submodule "lib/workstation-ostree-config_f39"]
	path = lib/workstation-ostree-config_f39
	url = https://pagure.io/workstation-ostree-config
[submodule "lib/workstation-ostree-config_f40"]
	path = lib/workstation-ostree-config_f40
	url = https://pagure.io/workstation-ostree-config
[submodule "lib/sodaliterocks.invoker"]
	path = lib/sodaliterocks.invoker
	url = https://github.com/sodaliterocks/invoker
