[submodule "lib/elementary.default-settings"]
	path = lib/elementary.default-settings
	url = https://github.com/elementary/default-settings
	branch = master
[submodule "lib/fedora-comps"]
	path = lib/fedora-comps
	url = https://pagure.io/fedora-comps.git
[submodule "lfs"]
	path = lfs
	url = https://git.zio.sh/ducky/sodalite-lfs
