[submodule "lib/elementary.default-settings"]
	path = lib/elementary.default-settings
	url = https://github.com/elementary/default-settings
	branch = master
[submodule "lfs"]
	path = lfs
	url = https://git.zio.sh/sodaliterocks/lfs
[submodule "lib/sodaliterocks.common"]
	path = lib/sodaliterocks.common
	url = https://github.com/sodaliterocks/common
[submodule "lib/sodaliterocks.generate-oemconf"]
	path = lib/sodaliterocks.generate-oemconf
	url = https://github.com/sodaliterocks/generate-oemconf
[submodule "lib/elementary.icons"]
	path = lib/elementary.icons
	url = https://github.com/elementary/icons
[submodule "lib/sodaliterocks.hacks"]
	path = lib/sodaliterocks.hacks
	url = https://github.com/sodaliterocks/hacks
[submodule "lib/workstation-ostree-config_f35"]
	path = lib/workstation-ostree-config_f35
	url = https://pagure.io/workstation-ostree-config
[submodule "lib/workstation-ostree-config_f36"]
	path = lib/workstation-ostree-config_f36
	url = https://pagure.io/workstation-ostree-config
