[Desktop Entry]
Name=Startup
Comment=Performs various startup tasks
Exec=sodalite-user-startup
Icon=application-default-icon
Terminal=false
Type=Application
Categories=Utility;
