[Desktop Entry]
Name[af]=Sagteware
Name[ar]=برمجيّات
Name[as]=চফ্টৱেৰ
Name[be]=Software
Name[bg]=Програми
Name[bs]=Program
Name[ca]=Programari
Name[ca@valencia]=Programari
Name[ckb]=نەرمەکاڵا
Name[cs]=Software
Name[da]=Software
Name[de]=Software
Name[el]=Λογισμικό
Name[en_GB]=Software
Name[eo]=Programaro
Name[es]=Software
Name[eu]=Softwarea
Name[fa]=نرم‌افزارها
Name[fi]=Ohjelmistot
Name[fr]=Logiciels
Name[fur]=Software
Name[ga]=Bogearraí
Name[gd]=Bathar-bog
Name[gl]=Software
Name[he]=תכנה
Name[hi]=सॉफ्टवेयर
Name[hr]=Softver
Name[hu]=Szoftver
Name[id]=Perangkat Lunak
Name[ie]=Programmarium
Name[is]=Hugbúnaður
Name[it]=Software
Name[ja]=ソフトウェア
Name[ka]=პროგრამები
Name[kab]=Aseɣẓan
Name[kk]=Бағд. қамтама
Name[km]=កម្មវិធី
Name[ko]=소프트웨어
Name[lt]=Programinė įranga
Name[lv]=Programmatūra
Name[mjw]=Software
Name[ml]=സോഫ്റ്റ്‌വെയർ
Name[ms]=Perisian
Name[nb]=Appsenter
Name[ne]=सफ्टवेयर
Name[nl]=Software
Name[oc]=Logicials
Name[pa]=ਸਾਫਟਵੇਅਰ
Name[pl]=Oprogramowanie
Name[pt]=Software
Name[pt_BR]=Programas
Name[ro]=Aplicații
Name[ru]=Центр приложений
Name[sk]=Softvér
Name[sl]=Programi GNOME
Name[sr]=Програми
Name[sr@latin]=Programi
Name[sv]=Programvara
Name[te]=సాఫ్ట్‌వేర్
Name[th]=ซอฟต์แวร์
Name[tr]=Yazılımlar
Name[uk]=Програми
Name[vi]=Phần mềm
Name[zh_CN]=软件
Name[zh_HK]=軟件
Name[zh_TW]=軟體
Name=Software
Comment[af]=Installeer, verwyder of gradeer sagteware vir die rekenaar op
Comment[ar]=أضف، أزل أو حدّث البرمجيّات على هذا الحاسوب
Comment[as]=এই কমপিউটাৰৰ চফ্টৱেৰ যোগ কৰক, আতৰাওক অথবা আপডেইট কৰক
Comment[be]=Дадае, выдаляе або абнаўляе праграмнае забеспячэнне на вашым камп'ютары
Comment[bg]=Добавяне, премахване или обновяване на софтуер на този компютър
Comment[bn]=এই কম্পিউটারে সফটওয়্যার সংযুক্তি, মুছে ফেলা অথবা আপডেট
Comment[bs]=Dodaj, ukloni ili ažuriraj prorame na ovom račuanru
Comment[ca]=Afegeix, suprimeix o actualitza programari en aquest ordinador
Comment[ca@valencia]=Afig, suprimeix o actualitza programari en este ordinador
Comment[cs]=Přidat, odebrat nebo aktualizovat software v tomto počítači
Comment[da]=Tilføj, fjern eller opdatér software på denne computer
Comment[de]=Software auf diesem Rechner hinzufügen, entfernen oder aktualisieren
Comment[el]=Προσθέστε, αφαιρέστε ή ενημερώστε το λογισμικό αυτού του υπολογιστή
Comment[en_GB]=Add, remove or update software on this computer
Comment[eo]=Aldoni, forigi aŭ ĝisdatigi programaron en ĉi tiu komputilo
Comment[es]=Añadir, quitar o actualizar software en este equipo
Comment[eu]=Gehitu, kendu edo eguneratu ordenagailu honetako softwarea
Comment[fa]=افزودن، برداشتن یا به‌روز رسانی نرم‌افزارهای این رایانه
Comment[fi]=Lisää, poista tai päivitä tietokoneen ohjelmistoja
Comment[fr]=Ajouter, supprimer ou mettre à jour des applications sur cet ordinateur
Comment[fur]=Zonte, gjave o inzorne software su chest computer
Comment[gd]=Cuir ris, thoir air falbh no ùraich bathar-bog air a’ choimpiutair seo
Comment[gl]=Engadir, quitar ou anovar software neste computador
Comment[he]=הוספה, הסרה ועדכון של תוכנות במחשב זה
Comment[hi]=इस कंप्यूटर पर सॉफ्टवेयर जोड़ें, हटाएं या अद्यतन करें
Comment[hr]=Dodaj, ukloni ili nadopuni softver na ovom računalu
Comment[hu]=Szoftver hozzáadása, eltávolítása vagy frissítése ezen a számítógépen
Comment[id]=Tambah, hapus, atau mutakhirkan perangkat lunak pada komputer ini
Comment[ie]=Adjunter, remover o actualisar programmas sur ti-ci computator
Comment[is]=Bæta við, fjarlægja eða uppfæra hugbúnað á þessari tölvu
Comment[it]=Aggiunge, rimuove o aggiorna software su questo computer
Comment[ja]=このコンピューターでソフトウェアの追加、削除、更新を行います
Comment[ka]=დაამატეთ, წაშალეთ და განაახლეთ პროგრამები ამ კომპიუტერზე
Comment[kk]=Бұл компьютерде БҚ-ны қосу, өшіру не жаңарту
Comment[km]=បន្ថែម, លុប ឬ​ធ្វើ​បច្ចុប្បន្នភាព​កម្មវិធី​លើ​កុំព្យូទ័រ​នេះ
Comment[ko]=이 컴퓨터에 프로그램을 추가, 제거, 업데이트 합니다
Comment[lt]=Pridėti, šalinti arba atnaujinti šio kompiuterio programinę įrangą
Comment[lv]=Pievienot, izņemt vai atjaunināt programmatūru uz šī datora
Comment[ml]=ഈ കമ്പ്യൂട്ടറിൽ സോഫ്റ്റ്‌വെയർ ചേർക്കുക, നീക്കംചെയ്യുക അല്ലെങ്കിൽ പുതുക്കുക
Comment[ms]=Tambah, buang atau kemas kini perisian di dalam komputer ini
Comment[nb]=Installer og oppdater apper
Comment[ne]=यो कम्प्युटरमा सफ्टवेयर थप्नुहोस्, हटाउनुहोस् वा अद्यावधिक गर्नुहोस्
Comment[nl]=Software op deze computer toevoegen, verwijderen of bijwerken
Comment[oc]=Apondre, suprimir o metre a jorn d'aplicacions sus aqueste ordenador
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਿਲ ਕਰੋ, ਹਟਾਉ ਜਾਂ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Dodawanie, usuwanie i aktualizowanie oprogramowania na komputerze
Comment[pt]=Adiciona, remove ou atualiza software neste computador
Comment[pt_BR]=Adicione, remova ou atualize programas neste computador
Comment[ro]=Adaugă, elimină sau actualizează aplicații pe acest calculator
Comment[ru]=Установка, удаление и обновление ПО на компьютере
Comment[sk]=Pridáva, odstraňuje alebo aktualizuje softvér vo vašom počítači
Comment[sl]=Dodajanje, odstranjevanje in posodabljanje programske opreme.
Comment[sr]=Додајте, уклоните или ажурирајте програме на овом рачунару
Comment[sr@latin]=Dodajte, uklonite ili ažurirajte programe na ovom računaru
Comment[sv]=Lägg till, ta bort eller uppdatera programvara på denna dator
Comment[te]=ఈ కంప్యూటరుపై సాఫ్ట్‌వేరును జతచేయండి, తీసివేయండి లేదా నవీకరించండి.
Comment[th]=เพิ่ม ลบ หรือปรับรุ่นซอฟต์แวร์ในคอมพิวเตอร์นี้
Comment[tr]=Bu bilgisayara yazılım ekle, kaldır ya da güncelle
Comment[uk]=Встановити, вилучити або оновити програмні засоби на комп'ютері
Comment[vi]=Cài thêm, xóa hoặc cập nhật phần mềm trên máy tính này
Comment[zh_CN]=添加、移除或更新计算机软件
Comment[zh_HK]=在這臺電腦上加入、移除，或更新軟件
Comment[zh_TW]=在電腦上加入、移除、或更新軟體
Comment=Add, remove or update software on this computer
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=system-software-install
Exec=gnome-software %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;
# Translators: Search terms to find this app. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=bywerkings;opgradeer;bronne;lêerstoor;voorkeure;installeer;verwyder;program;sagteware;toep;winkel;
Keywords[ar]=تحديثات;ترقيات;مصادر;مستودعات;تفضيلات;تنصيب;إزالة;برنامج;برمجية;تطبيق;سوق;تحديث;ترقية;مصدر;مستودع;
Keywords[as]=আপডেইটসমূহ;উন্নয়ন;উৎসসমূহ;ভঁৰালসমূহ;পছন্দসমূহ;ইনস্টল;আনইনস্টল;প্ৰগ্ৰাম;চফ্টৱেৰ;এপ;সংৰক্ষণ;
Keywords[be]=Абнаўленні;Абнавіць;Крыніцы;Сховішчы;Рэпазіторыі;Параметры;Усталяваць;Высталяваць;Выдаліць;Праграма;Праграмнае;забеспячэнне;Крама;Program;Software;App;Store;
Keywords[bg]=обновления;обновяване;актуализация;надграждане;източници;хранилища;предпочитания;настройки;инсталиране;деинсталиране;програма;софтуер;приложение;магазин;updates;upgrade;sources;repositories;preferences;install;uninstall;program;software;app;store;
Keywords[bn]=আপডেট;আপগ্রেড;উৎস;ভান্ডার;পছন্দ;সংস্থাপন;অসংস্থাপন;প্রোগ্রাম;সফটওয়্যার;এ্যাপ;দোকান;
Keywords[bs]=Ažuriranje;Nadogradnja;Izvor;Repozicija;Postavke;Instalacija;Deinstalacija;Program;Sofver;App;Radnja;
Keywords[ca]=Actualitzacions;Actualització;Fonts;Repositoris;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[ca@valencia]=Actualitzacions;Actualització;Fonts;Dipòsits;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[cs]=aktualizace;povýšení;zdroje;repozitáře;předvolby;nastavení;instalace;odinstalace;odebrání;program;software;aplikace;obchod;
Keywords[da]=Opdateringer;Opgrader;Kilder;Pakkearkiver;Indstillinger;Installer;Afinstaller;Program;Software;App;Butik;
Keywords[de]=Aktualisierungen;Systemaktualisierung;Quellen;Einstellungen;Installieren;Entfernen;Programm;Software;App;Store;Anwendung;Update;
Keywords[el]=Ενημερώσεις;Αναβαθμίσεις;Πηγές;Αποθετήρια;Προτιμήσεις;Εγκατάσταση;Απεγκατάσταση;Πρόγραμμα;Λογισμικό;Εφαρμογή;Αποθήκευση;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[en_GB]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[eo]=Ĝisdatigoj;Altgradigo;Fontoj;Deponejoj;Agordoj;Instali;Malinstali;Programo;Programaro;Aplikaĵo;Butiko;
Keywords[es]=Actualizaciones;Actualizar;Fuentes;Repositorios:Preferencias;Instalar;Desinstalar;Programa;Software;App;Almacén;
Keywords[eu]=Eguneratzeak;Bertsio-berritzeak;Iturburuak;Biltegiak;Hobespenak;Instalatu;Desinstalatu;Programa;Softwarea;Aplikazioa;Denda;App;
Keywords[fa]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;به‌روز رسانی‌ها;ارتقا;منابع;مخازن;ترجیحات;نصب;حذف;برنامه;نرم‌افزار;اپ;استور;
Keywords[fi]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Päivitys;Päivitykset;Lähteet;Ohjelmistolähteet;Ohjelmistovarastot;Asenna;Poista;Ohjelma;Sovellus;Kauppa;
Keywords[fr]=mises à jour;mise à niveau;sources;dépôts;préférences;installer;désinstaller;programmes;logiciels;applications;magasin;boutique;
Keywords[fur]=Inzornaments;Avanzament;Sorzints;Repositories;Dipuesits;Preferencis;Instalâ;Disinstalâ;Program;Software;Aplicazion;Negozi;
Keywords[gd]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ùrachadh;ùrachaidhean;ùraich;àrdachadh;àrdaich;tùsan;ionad-tasgaidh;ionadan-tasgaidh;stàlaidh;stàladh;dì-stàlaich;dì-stàladh;prògram;bathar-bog;aplacaid;bùth;
Keywords[gl]=Actualizacións;Anovar;Orixes;Repositorios;Preferencias;Instalar;Desinstalar;Programa;Software;Aplicación;Tenda;
Keywords[he]=עדכונים;שדרוג;מקורות;מאגרים;העדפות;התקנה;הסרה;מחיקה;תכנית;תכנה;יישום;חנות;
Keywords[hi]=अद्यतन;नवीनीकरण;स्रोत;भंडार;प्राथमिकताएं;स्थापित करें;स्थापना रद्द करें;प्रोग्राम;सॉफ्टवेयर;ऐप;स्टोर;
Keywords[hr]=Nadopune;Nadogradnja;Izvori;Repozitoriji;Osobitosti;Instaliraj;Deinstaliraj;Program;Softver;Aplikacija;Trgovina;
Keywords[hu]=Frissítések;Frissítés;Források;Tárolók;Beállítások;Telepítés;Eltávolítás;Program;Szoftver;Alkalmazás;Bolt;
Keywords[id]=Pemutakhiran;Peningkatan;Sumber;Repositori;Preferensi;Pasang;Copot;Program;Perangkat Lunak;App;Toko;
Keywords[it]=Aggiornamenti;Avanzamento;Sorgenti;Repository;Preferenze;Installare;Disinstallare;Programma;Software;Applicazione;Negozio;
Keywords[ja]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;アップデート;アップグレード;ソース;リポジトリ;レポジトリ;設定;インストール;アンインストール;プログラム;ソフトウェア;アプリケーション;ストア;
Keywords[ka]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;განახლებები;წყაროები;რეპოზიტორიები;მაღაზია;
Keywords[kk]=Жаңарту;Қайнар көздер;Репозиторийлер;Баптаулар;Орнату;Өшіру;Бағдарлама;БҚ;Қолданба;Дүкен;
Keywords[ko]=Updates;업데이트;Upgrade;업그레이드;Sources;공급원;Repositories;저장소;Preferences;기본 설정;Install;설치;Uninstall;설치 제거;Program;프로그램;Software;소프트웨어;App;앱;Store;스토어;
Keywords[lt]=Atnaujinimai;Šaltiniai;Saugyklos;Nuostatos;Įdiegti;Išdiegti;Programa;Programinė;Įranga;
Keywords[lv]=Atjauninājumi;Uzlabojumi;Avoti;Krātuves;Repozitoriji;Iestatījumi;Instalēt;Uzstādīt;Atinstalēt;Noņemt;Programmatūra;Lietotne;Veikals;
Keywords[mjw]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[ml]=പുതുക്കലുകൾ;നവീകരണങ്ങൾ;ഉറവിടങ്ങൾ;റിപ്പോസിറ്ററികൾ;മുൻഗണനകൾ;ഇൻസ്റ്റാൾ ചെയ്യുക;അൺഇൻസ്റ്റാൾ ചെയ്യുക;പ്രോഗ്രാം;സോഫ്റ്റ്‌വെയർ;ആപ്പ്;കലവറ;
Keywords[ms]=Kemas kini;Tatar;Sumber;Repositori;Keutamaan;Pasang;Nyahpasang;Program;Perisian;Apl;Kedai;
Keywords[nb]=Oppdateringer;Oppgraderinger;Innholds;Kilder;Installer;Avinstaller;Apper;Programmer;Applikasjoner;Programvare;Butikk;
Keywords[nl]=Updates;Upgrade;Sources;Bronnen;Repositories;Preferences;Voorkeuren;Install;Installeren;Uninstall;Verwijderen;Program;Programma;Software;App;Toepassing;Applicatie;Store;Winkel;Pakketbronnen;Softwarebronnen;Broncode;Opslagbronnen;
Keywords[oc]=Actualizacion;mesas a jorn;mesa a nivèl;fonts;depauses;preferéncias;installar;desinstallar;programa;aplicacion;logicial;magazin;
Keywords[pa]=ਅੱਪਡੇਟ;ਸਰੋਤ;ਰਿਪੋਜ਼ਟਰੀ;ਪਸੰਦ,ਇੰਸਟਾਲ;ਸਟੋਰ;ਅੱਪਗਰੇਡ;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;ਅਣਇੰਸਟਾਲ;ਅਣ-ਇੰਸਟਾਲ;ਪ੍ਰੋਗਰਾਮ;ਸਾਫਟਵੇਅਰ;ਐਪ;
Keywords[pl]=Aktualizacje;Aktualizuj;Zaktualizuj;Uaktualnienia;Uaktualnij;Update;Upgrade;Źródła;Źródło;Repozytoria;Repozytorium,Preferencje;Opcje;Ustawienia;Instalacja;Zainstaluj;Odinstaluj;Deinstalacja;Deinstaluj;Program;Oprogramowanie;Software;Aplikacja;Aplikacje;App;Apps;Sklep;Store;
Keywords[pt]=Atualizações;Fontes;Origens;Repositórios;Preferências;Instalar;Desinstalar;Programa;Software;App;Loja;
Keywords[pt_BR]=Atualizações;Upgrade;Atualização;Fontes;Repositórios;Preferências;Instalação;Instalar;Desinstalar;Programa;Software;Aplicativo;App;Loja;Store;
Keywords[ro]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Surse;Instalează;Aplicații;Depozite,Preferințe;Instalare;Dezinstalare;Actualizare;Actualizări;
Keywords[ru]=Обновления;Источники;Репозитории;Параметры;Установить;Удалить;Программа;Приложение;Магазин;ПО;
Keywords[sk]=Aktualizácie;Inovácia;Zdroje;Repozitáre;Nastavenia;Inštalácia;Inštalovanie;Odinštalovanie;Program;Softvér;Aplikácia;Obchod;
Keywords[sl]=Posodobitve;Posodobitev;Viri;Skladišča;Programi;Namestitev;Lastnosti;Odnamestitev;App;Trgovina;Update;
Keywords[sr]=Ажурирања;освежења;доградње;надоградње;извори;ризнице;складишта;поставке;инсталација;уклањање;програм;софтвер;апликација;радња;исправке;апдејтови;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sr@latin]=Ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sv]=Uppdateringar;Uppgradera;Källor;Programvarukällor;Inställningar;Installera;Avinstallera;Program;Programvara;Mjukvara;Butik;App;Store;
Keywords[th]=ปรับรุ่น;อัปเกรด;แหล่งซอฟต์แวร์;คลังแพกเกจ;ปรับแต่ง;ติดตั้ง;ถอดถอน;โปรแกรม;ซอฟต์แวร์;แอป;ร้าน;
Keywords[tr]=Güncellemeler;Güncelleştirmeler;Yükseltme;Depolar;Sürüm Depoları;Tercihler;Yeğler;Yükle;Kur;Kaldır;Program;Yazılım;Uygulama;Mağaza;Market;
Keywords[uk]=Оновлення;Джерело;Сховище;Параметри;Налаштування;Встановити;Вилучити;Програма;Магазин;
Keywords[vi]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Bản cập nhật;Nâng cấp;Mã nguồn;Kho chứa;Ưu tiên;Cài đặt;Gỡ bỏ;Chương trình;Phần mềm;Ứng dụng;Cửa hàng;Cap nhat;Ung dung;Phan mem;Go bo;
Keywords[zh_CN]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;升级;源;仓库;首选项;安装;卸载;程序;软件;应用;商店;
Keywords[zh_HK]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;;更新;升級;來源;套件庫;軟件庫;倉庫;偏好設定;安裝;解除安裝;程式;軟件;應用;商店;
Keywords[zh_TW]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;;更新;升級;來源;套件庫;軟體庫;倉庫;偏好設定;安裝;解除安裝;程式;軟體;應用;商店;
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
StartupNotify=true
MimeType=x-scheme-handler/appstream;
X-GNOME-UsesNotifications=true
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
X-Desktop-File-Install-Version=0.26
X-AppInstall-Package=gnome-software


[Desktop Action ModeUpdates]
Name=Check for Updates
Exec=gnome-software --mode=updates

[Desktop Action AutoUpdate]
Name=Auto Update
Exec=gnome-software --mode=updates

[Desktop Action Quit]
Name=Quit Software
Exec=gnome-software --quit
