# This file is provided by Sodalite's OSTree and overwrites the stock one provided
# by GNOME Software. It's the easiest, but possibly most hackiest, way of changing
# the icon to match that of elementaryOS's AppCenter. We also use Software
# instead of AppCenter as it does not support OSTree correctly.

[Desktop Entry]
Name=Software
Comment=Browse and manage apps
Exec=gnome-software %U
Icon=system-software-install
Keywords=install;uninstall;remove;catalogue;store;apps;software;
Actions=ModeUpdates;Quit;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;PackageManager;
MimeType=x-scheme-handler/appstream;
X-GNOME-UsesNotifications=true

[Desktop Action ModeUpdates]
Name=Check for Updates
Exec=gnome-software --mode=updates

[Desktop Action Quit]
Name=Quit Software
Exec=gnome-software --quit
