[Unit]
Description=Migrate to Sodalite
Wants=network-online.target
After=syslog.target network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rocks.sodalite.hacks migrate --all
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
