[Unit]
Description=Update rpm-ostree automatically
Wants=network-online.target
After=syslog.target network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rocks.sodalite.hacks auto-update
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
