[Unit]
Description=Update AppCenter Flatpak repository
Wants=network-online.target
After=syslog.target network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sodalite-hacks flatpak --setup-appcenter
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
