[Unit]
Description=Generate OEM information
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/sodalite-generate-oem
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target